<% content_for :title do %>My super sweet dashboard
<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gpu0_temp" data-view="Meter" data-title="GPU-0 Temp" data-min="0" data-max="100"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gpu1_temp" data-view="Meter" data-title="GPU-1 Temp" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="gpu0_params" data-view="List" data-title="GPU-0 params"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="gpu1_params" data-view="List" data-title="GPU-1 params"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="gpu0_mhash" data-view="Number" data-title="GPU-0 MH/s"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="gpu1_mhash" data-view="Number" data-title="GPU-1 MH/s"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="market" data-view="List" data-title="Market"></div>
    </li>

  </ul>
</div>